streamlit 
yfinance
pandas 
numpy 
statsmodels.api 
matplotlib.pyplot 
scipy.stats 
linregress
sklearn.preprocessing 

StandardScaler
datetime
plotly.graph_objects 
matplotlib.pyplot 
seaborn 
sklearn.metrics 
r2_score